c Sample CNF for HW 6, problem 2
c Full CNF: (¬x1∨x2∨x4)∧(x1∨x3)∧(¬x4∨¬x2)∧(¬x4∨¬x1∨x2)∧(x3∨¬x1)∧(¬x3∨¬x2∨x4)∧(x1∨x4)∧(¬x2∨x1)
p cnf 4 8
c (¬x1∨x2∨x4)
-1 2 4 0
c (x1∨x3)
1 3 0
c (¬x4∨¬x2)
-4 -2 0
c (¬x4∨¬x1∨x2)
-4 -1 2 0
c (x3∨¬x1)
3 -1 0
c (¬x3∨¬x2∨x4)
-3 -2 4 0
c (x1∨x4)
1 4 0
c (¬x2∨x1)
-2 1 0
